<!DOCTYPE html>
<!--This is a standard header/presentation that will be loaded onto all normally indexed pages-->
<html>
    <body bgcolor="00000000">
    <body style="color:white"
    <head>
        <title>Adam's Django Intro Website</title>
        <h2>I wrote this basic HTML code insert.</h2>
    </head>

    <body>
        <p>This is the {{name}} page.</p>
        <!--The identified user will be shown above while the variable block info is blacked below-->
        {% block content %}
        <p>Some of my flavourite base template text!</p>
        <!--The name field is dynamic but necessitates a pre-programmed input like "home" or an integer input-->
        {% endblock %}
    </body>

</html>